@import "tailwindcss";
@plugin './lib/heroui.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --acrylic-background: rgba(255, 255, 255, 0.4);
}

@theme inline {
  --color-background: var(--background);
  --color-acrylic-background: var(--acrylic-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --acrylic-background: rgba(0, 0, 0, 0.4);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
